<div class="page dashboard-page">
    <!-- bradcome -->
    <div class="bg-light lter b-b wrapper-md mb-10">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h1 class="font-thin h3 m-0">Novo contador</h1>
                <small class="text-muted"></small> </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form ng-submit="register(accountant)">
                <section class="boxs">
                    <div class="boxs-header dvd dvd-btm">
                        <h2 class="custom-font">Dados do  <strong>contador</strong></h2>
                    </div>
                    <input type="hidden" ng-model="accountant.company_id">
                    <div class="boxs-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nome</label>
                                    <input id="default-ml" ng-model="accountant.name"  class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input id="threshold-ml" ng-model="accountant.email" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Telefone</label>
                                    <input id="threshold-ml" ng-model="accountant.phone" class="form-control" ui-br-phone-number>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="reset" class="btn btn-raised btn-default">Cancelar
                                <div class="ripple-container"></div>
                            </button>
                            <button type="submit" class="btn btn-raised btn-primary pull-right">Cadastrar</button>
                        </div>
                    </div>
                </div><br><br>
            </form>
        </div>
    </div>
</div>
