<div class="signup-page">
    <!-- Application Content -->
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('images/login-bg.jpg'); background-size: cover; background-position: top center;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <div class="card card-signup">
                            <!-- #######################################################################################################

                            FORMULARIO - Informações Pessoais

                            ############################################################################################ -->
                            <form class="form" method="" action="">
                                <div class="header header-primary text-center">
                                    <h4>Cadastro</h4>
                                </div>
                                <br>
                                <h3 class="mt-0">oiRH</h3>
                                <p class="help-block">Preencha com os seus dados</p>
                                <div class="content">
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <select name="" id="" class="form-control underline-input">
                                                <option value="">Quantos dependentes?</option>
                                                <option value="">1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                                <option value="">4</option>
                                                <option value="">5</option>
                                                <option value="">Mais que 5</option>
                                                <option value="">Não tenho dependentes</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="footer text-right mb-40">
                                        <a ui-sref="invite" class="btn btn-default btn-raised pull-left">Voltar</a>
                                        <input type="submit" class="btn btn-primary btn-raised" value="Cadastrar">
                                    </div>
                                </div>
                            </form>
                            <!-- #######################################################################################################

                            FIM FORMULARIO DE CADASTRO DA EMPRESA

                            ############################################################################################ -->
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>