<div class="signup-page">
    <!-- Application Content -->
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('images/login-bg.jpg'); background-size: cover; background-position: top center;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <div class="card card-signup">


                            <!-- #######################################################################################################

                            FORMULARIO - Informações Pessoais

                            ############################################################################################ -->
                            
                            <form class="form" method="" action=""> 
                                <div class="header header-primary text-center">
                                    <h4>Cadastro</h4>
                                </div>
                                <br>
                                <h3 class="mt-0">oiRH</h3>
                                <p class="help-block">Preencha com os seus dados</p>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="foto" class="inputPhoto">
                                                <i class="icon-camera"></i> Foto do Perfil
                                                <input id="foto" type="file" accept="image/*" capture="camera">
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Nome completo da mãe">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Nome completo do pai">
                                            </div>
                                            <div class="form-group">
                                                <input type="date" class="form-control" placeholder="Data de nascimento">
                                            </div>
                                            <div class="form-group">
                                                <select name="" id="" class="form-control underline-input">
                                                    <option value="">Estado Civil</option>
                                                    <option value="">Casado</option>
                                                    <option value="">Casado (comunhão total de bens)</option>
                                                    <option value="">Casado (sem comunhão de bens)</option>
                                                    <option value="">Casado (comunhão parcial de bens)</option>
                                                    <option value="">União estável</option>
                                                    <option value="">Divorciado</option>
                                                    <option value="">Concubinado</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select name="" id="" class="form-control underline-input">
                                                    <option value="">Cor/Raça</option>
                                                    <option value="">Branca</option>
                                                    <option value="">Negra</option>
                                                    <option value="">Parda</option>
                                                    <option value="">Indígina</option>
                                                    <option value="">Amarela</option>
                                                    <option value="">Não informado</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select name="" id="" class="form-control underline-input">
                                                    <option value="">Nacionalidade</option>
                                                    <option value="">Brasileiro</option>
                                                    <option value="">Brasileiro nascido no exterior</option>
                                                    <option value="">Naturalizado Brasileiro</option>
                                                    <option value="">Outra nacionalidade</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select name="" id="" class="form-control underline-input">
                                                    <option value="">Sexo</option>
                                                    <option value="">Masculino</option>
                                                    <option value="">Femenino</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select name="" id="" class="form-control underline-input">
                                                    <option value="">Escolaridade</option>
                                                    <option value="">Analfabeto</option>
                                                    <option value="">Até o 5º ano inccompleto do ensino fundamental</option>
                                                    <option value="">5º ano completo do ensino fundamental</option>
                                                    <option value="">6º ao 9º ano do ensino fundamental incompleto</option>
                                                    <option value="">Ensino fundamental completo</option>
                                                    <option value="">Ensino médio incompleto</option>
                                                    <option value="">Ensino médio completo</option>
                                                    <option value="">Educação superior</option>
                                                </select>
                                            </div>

                                             <div class="form-group">
                                                <select name="" id="" class="form-control underline-input">
                                                    <option value="">Este é o primeiro emprego CLT?</option>
                                                    <option value="">SIM</option>
                                                    <option value="">NÃO</option>
                                                </select>
                                            </div>
                                            
                                            <hr>
                                            <div class="footer text-right mb-40">
                                                <a ui-sref="invite" class="btn btn-default btn-raised pull-left">Voltar</a>
                                                <input type="submit" class="btn btn-primary btn-raised" value="Cadastrar">
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                             <!-- #######################################################################################################

                            FIM FORMULARIO DE CADASTRO DA EMPRESA

                            ############################################################################################ -->
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>