<div class="signup-page">
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('images/login-bg.jpg'); background-size: cover; background-position: top center;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <div class="card card-signup">
                            <div class="header header-primary text-center">
                                <h4>Cadastro</h4>
                            </div>
                            <p class="col-md-3 registerItem">
                                <a ui-sref="convite-informacoes-pessoais">
                                    <i class="fa fa-user icon-categoria"></i>
                                    <span>Informações pessoais</span>
                                </a>
                            </p>

                            <p class="col-md-3 registerItem">
                                <a ui-sref="convite-rg">
                                    <i class="glyphicon glyphicon-credit-card icon-categoria"></i>
                                    <span>RG</span>
                                </a>
                            </p>
                            <p class="col-md-3 registerItem">
                                <a ui-sref="convite-cpf">
                                    <i class="glyphicon glyphicon-credit-card icon-categoria"></i>
                                    <span>CPF</span>
                                </a>
                            </p>
                            <p class="col-md-3 registerItem">
                                <a ui-sref="convite-cnh">
                                    <i class="fa fa-car icon-categoria"></i>
                                    <span>CNH</span>
                                </a>
                            </p>
                            <p class="col-md-3 registerItem">
                                <a ui-sref="convite-titulo-de-eleitor">
                                    <i class="fa fa-credit-card icon-categoria"></i>
                                    <span>Título de Eleitor</span>
                                </a>
                            </p>
                            <p class="col-md-3 registerItem">
                                <a ui-sref="convite-carteira-de-trabalho">
                                    <i class="glyphicon glyphicon-book icon-categoria"></i>
                                    <span>Carteira de trabalho</span>
                                </a>
                            </p>

                            <p class="col-md-3 registerItem">
                                <a ui-sref="convite-pis">
                                    <i class="fa fa-credit-card icon-categoria"></i>
                                    <span>PIS</span>
                                </a>
                            </p>

                            <p class="col-md-3 registerItem">
                                <a ui-sref="convite-reservista">
                                    <i class="fa  fa-file-pdf-o icon-categoria"></i>
                                    <span>Reservista</span>
                                </a>
                            </p>

                            <p class="col-md-3 registerItem">
                                <a ui-sref="convite-certidao">
                                    <i class="fa  fa-file-pdf-o icon-categoria"></i>
                                    <span>Certidão</span>
                                </a>
                            </p>

                            <p class="col-md-3 registerItem">
                                <a ui-sref="convite-dependentes">
                                    <i class="fa fa-users icon-categoria"></i>
                                    <span>Dependentes</span>
                                </a>
                            </p>

                            <p class="col-md-3 registerItem">
                                <a ui-sref="convite-conta-bancaria">
                                    <i class="fa fa-bank icon-categoria"></i>
                                    <span>Conta bancária</span>

                                </a>
                            </p>

                            <p class="col-md-3 registerItem">
                                <a ui-sref="convite-endereco">
                                    <i class="fa fa-home icon-categoria"></i>
                                    <span>Comprovante de endereço</span>

                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>